.task{
  background: #e7f0f9;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder{
  border-left: 5px solid #4682b4 ;

}
.task h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
